USE [master]
GO
/****** Object:  Database [CityInfoDB]    Script Date: 20/05/2015 02:01:08 ******/
CREATE DATABASE [CityInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityInfoDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityInfoDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CityInfoDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CityInfoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityInfoDB]
GO
/****** Object:  Table [dbo].[CityTable]    Script Date: 20/05/2015 02:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityTable](
	[CityName] [varchar](150) NOT NULL,
	[About] [varchar](max) NULL,
	[Country] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CityTable] ([CityName], [About], [Country]) VALUES (N'Dubai', N'Teka-Poisa', N'UAE')
INSERT [dbo].[CityTable] ([CityName], [About], [Country]) VALUES (N'Jeddah', N'Airport', N'Saudi')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CityTable]    Script Date: 20/05/2015 02:01:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CityTable] ON [dbo].[CityTable]
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
